<?xml version="1.0"?>
<launch>
 <param name="use_sim_time" value="true" />

 <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- Config folder. -->
  <arg name="ssd_config_path" default="$(find human_track)/ssd_network_config/cfg"/>

  <!-- graph folder. -->
  <arg name="ssd_graph_path"  default="$(find human_track)/ssd_network_config/graph"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="human_track" file="$(find human_track)/config/ros.yaml"/>
  <rosparam command="load" ns="human_track" file="$(find human_track)/config/gaussian_person_ssd_ncs.yaml"/>
  <rosparam command="load" ns="human_track" file="$(find human_track)/config/cameraParams.yaml"/>
  <rosparam command="load" ns="human_track" file="$(find human_track)/config/facenet.yaml"/>

  <!--rosparam command="load" file="$(find human_track)/config/ros.yaml"/>
  <rosparam command="load"  file="$(find human_track)/config/gaussian_person_ncs.yaml"/-->

  <!--node pkg="human_track" type="human_track" name="human_track" output="screen" launch-prefix="$(arg launch_prefix) gdb -ex run"-->
  <node pkg="human_track" type="human_track" name="human_track" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="file_address" value="/root/GAUSSIAN_RUNTIME_DIR/run.map.greeter"/>
    <param name="st_filter"  value="false"/>
    <param name="tb_filter"  value="false"/>
    <param name="graph_path"          value="$(arg ssd_graph_path)" />
    <param name="face_cascade"     value="$(find human_track)/config/haarcascade_frontalface_alt.xml" />
    
  </node>

</launch>
